
  <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="/" class="brand-logo left"><img class="responsive-img" id="logo" src="../assets/LogoAI.png"</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/input">Regestration</a></li>
        <!-- <li><a href="/searchUser">Search User</a></li> -->
        <li><a href="/profile-list">User Profiles</a></li>
      </ul>
    </div>
  </nav>
