<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/assets/bootstrap.css" rel="stylesheet" type="text/css" />
  <script src="/assets/synth.min.js"></script>
  <link href="/assets/style.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Document</title>
</head>


<body>
    
    <div class="container">
        <div class="row">
          <div class="col distance">
              <div class="card">
                  <div class="card-header">
                    <h1>Download your file!</h1>
                  </div>
                  <div class="card-body">
                      <form method="POST" action="/download">
                        <input type="submit" class="btn btn-dark" value="Download your file!"/>
                      </form>
                      <figure class="distance-soundbar">
                          <figcaption class="distance-soundbar">Listen to your generatet file</figcaption>
                          <audio
                              controls
                              src="assets/song.wav">
                                  Your browser does not support the
                                  <code>audio</code> element.
                          </audio>
                      </figure>
                  </div>
                </div>  
          </div>
          <div class="col">
           
        </div>
          <div class="col-6 turntable">
              <img src="/assets/images/turntable.svg" class="img-fluid" alt="Responsive image">
          </div>
        </div>   
</body>

</html>